---
import Layout from '../layouts/Layout.astro';
import ContextAlert from '../components/ContextAlert.astro';
---

<layout>
    <ContextAlert class="mb-8" />
    <div class="row banner2">
        <a href="/">
            <h3 class="home-link">NZYC21</h3>
        </a>
        <h1>Book in</h1>
    </div>
    <br />
    <div class="row">
        <div class="col-sm-8 offset-sm-2 main" style="text-align: center;">
            <iframe
                src="https://docs.google.com/forms/d/e/1FAIpQLScFuRXFaxpnis4SCxcEW-FzDRr0rKo17iiVoeZpgW4DS1JfgA/viewform?embedded=true"
                width="640"
                height="1575"
                frameborder="0"
                marginheight="0"
                marginwidth="0">Loading…</iframe
            >
        </div>
    </div>
</layout>
