---
import Layout from '../layouts/Layout.astro';
import ContextAlert from '../components/ContextAlert.astro';
---

<!-- <link rel="stylesheet" href="src/styles/index.css" /> -->
<Layout title="NZ Youth Conference">
    <ContextAlert class="mb-8" />
    <div class="row" id="banner">
        <a href="/">
            <h3 class="home-link">NZYC21</h3>
        </a>
    </div>
    <br />
    <div class="row">
        <div class="col-sm-8 offset-sm-2 main">
            <div class="img-nav">
                <a href="book-in">
                    <img src="/images/bookin.jpg" />
                    <h3>Book in</h3>
                </a>
            </div>

            <div class="img-nav">
                <a href="details">
                    <img src="/images/details.jpg" />
                    <h3>Conference details</h3>
                </a>
            </div>

            <div class="img-nav">
                <a href="venue">
                    <img src="/images/venue.jpg" />
                    <h3>Venue</h3>
                </a>
            </div>

            <div class="img-nav">
                <a href="committee">
                    <img src="/images/committee.jpg" />
                    <h3>Committee and hosts</h3>
                </a>
            </div>

            <div class="img-nav">
                <a href="whos-coming">
                    <img src="/images/coming.jpg" />
                    <h3>Who's coming</h3>
                </a>
            </div>
        </div>
    </div>
</Layout>
