---
import Layout from '../layouts/Layout.astro';
import ContextAlert from '../components/ContextAlert.astro';
---

<script
    src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
<script
    src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx"
    crossorigin="anonymous"></script>

<style>
    #banner {
        height: 300px;
        text-align: center;
        color: white;
    }

    #banner h3 {
        margin-top: 100px;
        font-size: 3em;
        font-weight: bold;
    }

    .img-nav {
        text-align: center;
        margin-bottom: 20px;
    }

    .img-nav img {
        width: 100%;
        height: auto;
        border-radius: 10px;
    }

    .img-nav h3 {
        margin-top: 10px;
    }
</style>

<!-- <link rel="stylesheet" href="src/styles/index.css" /> -->
<Layout title="NZ Youth Conference">
    <ContextAlert class="mb-8" />
    <div class="row" id="banner">
        <a href="/">
            <h3 class="home-link">NZYC21</h3>
        </a>
    </div>
    <br />
    <div class="row">
        <div class="col-sm-8 offset-sm-2 main">
            <div class="img-nav">
                <a href="book-in">
                    <img src="/images/bookin.jpg" />
                    <h3>Book in</h3>
                </a>
            </div>

            <div class="img-nav">
                <a href="details">
                    <img src="/images/details.jpg" />
                    <h3>Conference details</h3>
                </a>
            </div>

            <div class="img-nav">
                <a href="venue">
                    <img src="/images/venue.jpg" />
                    <h3>Venue</h3>
                </a>
            </div>

            <div class="img-nav">
                <a href="committee">
                    <img src="/images/committee.jpg" />
                    <h3>Committee and hosts</h3>
                </a>
            </div>

            <div class="img-nav">
                <a href="whos-coming">
                    <img src="/images/coming.jpg" />
                    <h3>Who's coming</h3>
                </a>
            </div>
        </div>
    </div>
</Layout>
