---
import Layout from '../layouts/Layout.astro';
import ContextAlert from '../components/ContextAlert.astro';
---

<script
    src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
<script
    src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx"
    crossorigin="anonymous"></script>
<link
    href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
    rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
    crossorigin="anonymous"
/>

<style>
    html,
    body {
        height: 100%;
    }

    #banner {
        background-image: url(assets/banner.jpg);
        background-position: center;
        background-size: cover;
        height: 50%;
        max-height: 400px;
    }

    #banner::before {
        content: '';
        background-color: rgb(100, 100, 100, 0.2);
        width: 100%;
    }

    a {
        text-decoration: none !important;
        color: rgb(33, 33, 33);
    }

    a:hover {
        color: #777;
        opacity: 0.7;
    }

    .img-nav {
        display: inline-block;
        text-align: center;
        max-width: 250px;
        margin: 25px;
        vertical-align: top;
    }

    .img-nav img {
        margin: 10px;
        width: 100%;
    }

    .main {
        border-bottom: 3px solid #ccc;
        margin-bottom: 40px;
        padding-bottom: 25px;
    }

    .home-link {
        position: absolute;
        top: 15px;
        left: 25px;
        color: ghostwhite;
        font-weight: 300;
    }

    .banner2 {
        background-color: black;
        height: 50%;
        max-height: 400px;
        text-align: center;
    }

    .banner2 > h1 {
        color: whitesmoke;
        margin: auto;
        font-size: 48px;
    }

    .details {
        padding: 15px;
    }

    .details > img {
        max-width: 90px;
    }

    img {
        max-width: 100%;
    }
</style>

<!-- <link rel="stylesheet" href="src/styles/index.css" /> -->
<Layout title="NZ Youth Conference">
    <ContextAlert class="mb-8" />
    <div class="row" id="banner">
        <a href="/">
            <h3 class="home-link">NZYC21</h3>
        </a>
    </div>
    <br />
    <div class="row">
        <div class="col-sm-8 offset-sm-2 main">
            <div class="img-nav">
                <a href="book-in">
                    <img src="/images/bookin.jpg" />
                    <h3>Book in</h3>
                </a>
            </div>

            <div class="img-nav">
                <a href="details">
                    <img src="/images/details.jpg" />
                    <h3>Conference details</h3>
                </a>
            </div>

            <div class="img-nav">
                <a href="venue">
                    <img src="/images/venue.jpg" />
                    <h3>Venue</h3>
                </a>
            </div>

            <div class="img-nav">
                <a href="committee">
                    <img src="/images/committee.jpg" />
                    <h3>Committee and hosts</h3>
                </a>
            </div>

            <div class="img-nav">
                <a href="whos-coming">
                    <img src="/images/coming.jpg" />
                    <h3>Who's coming</h3>
                </a>
            </div>
        </div>
    </div>
</Layout>
