---
import Layout from '../layouts/Layout.astro';
import Markdown from '../components/Markdown.astro';
---

<Layout title="Venue">
    <div class="row">
        <div class="col-sm-8 offset-sm-2 main">
            <div class="row">
                <div class="col-sm-6">
                    <img src="assets/camp.jpg" />
                </div>
                <div class="col-sm-6">
                    <h2 style="font-weight: 300;">The venue for NZYC 2021 is Palm Grove Christian Holiday Camp in Paraparaumu.</h2>
                    <br />
                    <h2 style="font-weight: 300;">The capacity for the venue is 140 so book in fast!</h2>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-8 offset-sm-2 main">
            <h1>Directions</h1>
            <br />
            <iframe
                style="width: 100%; height: 400px;"
                jsname="L5Fo6c"
                sandbox="allow-scripts allow-popups allow-forms allow-same-origin allow-popups-to-escape-sandbox allow-downloads"
                frameborder="0"
                aria-label="Map, 199 Valley Rd"
                src="https://maps-api-ssl.google.com/maps?hl=en-US&ll=-40.939395,175.008501&output=embed&q=199+Valley+Rd,+Paraparaumu+5032,+New+Zealand+(199+Valley+Rd)&z=16"
                allowfullscreen=""></iframe>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-8 offset-sm-2 main">
            <h1>Photos</h1>
            <div class="row">
                <div class="col-sm-6">
                    <img src="assets/gym.jpg" class="my-3" />
                    <h2>Gym / Hall</h2>
                </div>
                <div class="col-sm-6">
                    <img src="assets/lounge.jpg" class="my-3" />
                    <h2>Lounge area</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <img src="assets/cabins.jpg" class="my-3" />
                    <h2>Cabins</h2>
                </div>
                <div class="col-sm-6">
                    <img src="assets/dining.jpg" class="my-3" />
                    <h2>Dining room</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <img src="assets/chapel.jpg" class="my-3" />
                    <h2>Chapel</h2>
                </div>
                <div class="col-sm-4">
                    <img src="assets/pool.jpg" class="my-3" />
                    <h2>Pool</h2>
                </div>
                <div class="col-sm-4">
                    <img src="assets/tyres.jpg" class="my-3" />
                    <h2>One of many onsite activities</h2>
                    <p>See if you can beat Anders' time of 14 seconds up the tyre track!</p>
                </div>
            </div>
        </div>
    </div>
</Layout>
