---
import Layout from '../layouts/Layout.astro';
import Markdown from '../components/Markdown.astro';
---

<script
    src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
<script
    src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx"
    crossorigin="anonymous"></script>

<style>
    .main img {
        width: 100%;
        height: auto;
        border-radius: 10px;
    }

    .main h2 {
        font-weight: 300;
    }

    .my-3 {
        margin-top: 1rem;
        margin-bottom: 1rem;
    }
    .my-5 {
        margin-top: 3rem;
        margin-bottom: 3rem;
    }
    .banner2 {
        background-color: #f8f9fa;
        padding: 20px;
        text-align: center;
    }
    .banner2 h1 {
        font-weight: 300;
        margin-bottom: 20px;
    }
</style>
<Layout title="Venue">
    <div class="row">
        <div class="col-sm-8 offset-sm-2 main">
            <div class="row">
                <div class="col-sm-6">
                    <img src="/images/camp.jpg" />
                </div>
                <div class="col-sm-6">
                    <h2 style="font-weight: 300;">The venue for NZYC 2021 is Palm Grove Christian Holiday Camp in Paraparaumu.</h2>
                    <br />
                    <h2 style="font-weight: 300;">The capacity for the venue is 140 so book in fast!</h2>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-8 offset-sm-2 main">
            <h1>Directions</h1>
            <br />
            <iframe
                style="width: 100%; height: 400px;"
                jsname="L5Fo6c"
                sandbox="allow-scripts allow-popups allow-forms allow-same-origin allow-popups-to-escape-sandbox allow-downloads"
                frameborder="0"
                aria-label="Map, 199 Valley Rd"
                src="https://maps-api-ssl.google.com/maps?hl=en-US&ll=-40.939395,175.008501&output=embed&q=199+Valley+Rd,+Paraparaumu+5032,+New+Zealand+(199+Valley+Rd)&z=16"
                allowfullscreen=""></iframe>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-8 offset-sm-2 main">
            <h1>Photos</h1>
            <div class="row">
                <div class="col-sm-6">
                    <img src="/images/gym.jpg" class="my-3" />
                    <h2>Gym / Hall</h2>
                </div>
                <div class="col-sm-6">
                    <img src="/images/lounge.jpg" class="my-3" />
                    <h2>Lounge area</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <img src="/images/cabins.jpg" class="my-3" />
                    <h2>Cabins</h2>
                </div>
                <div class="col-sm-6">
                    <img src="/images/dining.jpg" class="my-3" />
                    <h2>Dining room</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4">
                    <img src="/images/chapel.jpg" class="my-3" />
                    <h2>Chapel</h2>
                </div>
                <div class="col-sm-4">
                    <img src="/images/pool.jpg" class="my-3" />
                    <h2>Pool</h2>
                </div>
                <div class="col-sm-4">
                    <img src="/images/tyres.jpg" class="my-3" />
                    <h2>One of many onsite activities</h2>
                    <p>See if you can beat Anders' time of 14 seconds up the tyre track!</p>
                </div>
            </div>
        </div>
    </div>
</Layout>
