---
import Layout from '../layouts/Layout.astro';
import ContextAlert from '../components/ContextAlert.astro';
---

<Layout title="NZ Youth Conference">
    <div class="row">
        <div class="col-sm-8 offset-sm-2 main" style="text-align: center;">
            <h3>Hutt Valley</h3>
            <p>Peter Alexander</p>
            <p>Anthony Godfrey</p>
            <p>Marta Teal</p>

            <h3>Tawa</h3>
            <p>Hadassah France</p>
            <p>Joshua Gore</p>
            <p>Louis Bennet</p>
            <p>Hannah O'Grady</p>
        </div>
    </div>
</Layout>
