---
import Logo from '../components/Logo.astro';

const navItems = [
    { linkText: 'Home', href: '/' },
    { linkText: 'Details', href: '/details' },
    { linkText: 'Book In', href: '/book-in' },
    { linkText: 'Committee', href: '/committee' },
    { linkText: 'Venue', href: '/venue' },
    { linkText: "Who's Coming", href: '/whos-coming' }
];
---

<style>
    .header-item {
        color: #f3f3f3;
        font-weight: 500;
        text-decoration: none;
        transition: color 0.3s ease;
    }

    .header-item:hover {
        color: #ffffff; /* Change color on hover */
    }

    @media (min-width: 640px) {
        .header-item {
            padding: 0.5rem 1rem; /* Adjust padding for larger screens */
        }
    }
</style>

<nav class="flex flex-wrap items-center gap-4 pt-6 pb-16 sm:pt-12 sm:pb-24">
    <a href="/">
        <Logo />
    </a>
    {
        !!navItems?.length && (
            <ul class="flex flex-wrap gap-x-4 gap-y-1">
                {navItems.map((item) => (
                    <li>
                        <a href={item.href} class="inline-block px-1.5 py-1 sm:px-3 sm:py-2 header-item">
                            {item.linkText}
                        </a>
                    </li>
                ))}
            </ul>
        )
    }
</nav>
